@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #e6e6e6;
}

h2 {
  @apply text-4xl;
  @apply font-bold;
}

h3 {
  @apply text-2xl;
  @apply font-bold;
}

p {
  @apply text-lg;
}

span {
  @apply text-base;
}

/* TODO: Bring this one back to inline since tailwind doesn't like it: https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction */
.header-body {
  @apply sticky;
  @apply top-0;
  @apply flex;
  @apply justify-between;
  @apply backdrop-blur-md;
  @apply border-b;
  @apply border-border;
  @apply transition-colors;
  @apply duration-300;
  /* might wanna come up with the way to darken the color on scroll */
  @apply bg-opacity-90;
  @apply py-4;
  @apply px-8;
}

.title-text {
  @apply text-6xl sm:text-8xl md:text-9xl font-sans;
  background: linear-gradient(280deg, #5594d5 50%, #d55594 70%, #edca85 94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
