@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  @apply text-text font-sans;
}

h1 {
  @apply text-textAccent;
  @apply text-4xl;
  @apply font-bold;
}

h2 {
  @apply text-textAccent;
  @apply text-2xl;
  @apply font-bold;
}

h3 {
  @apply text-textAccent;
  @apply text-xl;
  @apply font-bold;
}

p {
  @apply text-lg;
}

span {
  @apply text-base;
}

/* TODO: Bring this one back to inline since tailwind doesn't like it: https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction */
.header-body {
  @apply sticky;
  @apply top-0;
  @apply flex;
  @apply justify-between;
  @apply backdrop-blur-md;
  @apply transition-colors;
  @apply duration-300;
  @apply bg-opacity-90;
  @apply py-4;
  @apply px-8;
  @apply border-b;
}

.title-text {
  background: linear-gradient(280deg, #5594d5 50%, #d55594 70%, #edca85 94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-text-h1 {
  background: linear-gradient(280deg, #5594d5 80%, #d55594 90%, #edca85 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
